<div class="row">
    <div class="col-md-8">
        <h4 class="text-info p-ml-4">Templates</h4>
    </div>
    <div class="col-md-4 text-center">
        <p-button label="Add New" icon="pi pi-plus" iconPos="left" (click)="addNewTemplate()"></p-button>
        <p-button label="Refresh" icon="pi pi-refresh" iconPos="left" (click)="reloadTemplateTable()"></p-button>
    </div>
</div>
<!-- Dialog Template -->
<p-dialog [(visible)]="templateService.showHideTemplateModel" [baseZIndex]="10000" [modal]="true"
 [position]="templateService.dialogPosition" [style]="{width: '60vw'}" [draggable]="false" [resizable]="false" [maximizable]="true">
    <p-header>
        <h5 *ngIf="templateService.templateFormData.Id > 0">Update</h5>
        <h5 *ngIf="templateService.templateFormData.Id === 0">Save</h5>
    </p-header>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="p-fluid p-formgrid p-grid">
            <input type="hidden" name="Id" [(ngModel)]="templateService.templateFormData.Id">
            <div class="p-field p-col-12 p-md-4 p-lg-4">
                <label for="cardOwnerName">Template Name</label>
                <input id="templateName" pInputText name="TemplateName" #TemplateName="ngModel"
                    [(ngModel)]="templateService.templateFormData.TemplateName" placeholder="Template Name" maxlength="100" required>
            </div>
            <div class="p-field p-col-12 p-md-4 p-lg-4">
                <label for="docIdentifier">Doc Identifier</label>
                <input id="docIdentifier" pInputText name="DocIdentifier" #DocIdentifier="ngModel"
                    [(ngModel)]="templateService.templateFormData.DocIdentifier" placeholder="Doc Identifier" required
                    maxlength="200">
            </div>
        </div>
    
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4 p-lg-4">
                <label for="senderName">Sender Name</label>
                <input pInputText type="text" id="senderName" name="SenderName" #SenderName="ngModel"
                [(ngModel)]="templateService.templateFormData.SenderName" placeholder="Sender Name" required maxlength="200">
            </div>
            <div class="p-field p-col-12 p-md-4 p-lg-4 offset-md-4">
                <label for="pictureFileName">Picture Filename</label>
                <input type="text" pInputText id="pictureFileName" name="PictureFileName" #PictureFileName="ngModel"
                    [(ngModel)]="templateService.templateFormData.PictureFileName" placeholder="Picture FileName" required maxlength="128">
            </div>
        </div>
        <div class="p-grid" style="text-align: right;">
            <div class="p-col-12">
                <button pButton type="button" (click)="resetForm();" label="Clear" icon="pi pi-times"></button>
                <button class="p-ml-3" *ngIf="templateService.templateFormData.Id===0" pButton type="submit" label="Save" icon="pi pi-check" [disabled]="form.invalid"></button>
                <button class="p-ml-3" *ngIf="templateService.templateFormData.Id!==0" pButton type="submit" label="update" icon="pi pi-pencil" [disabled]="form.invalid"></button>
            </div>
        </div>
       
    </form>
    <p-footer>
        <!-- //buttons -->
    </p-footer>
</p-dialog>


<p-table #dt [value]="templateService.templateList" [rowHover]="true" [loading]="templateService.loading" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [paginator]="true" dataKey="id" [rowsPerPageOptions]="[10,25,50,100]" [filterDelay]="0"
    [globalFilterFields]="['temp.TemplateName']">
    <ng-template pTemplate="header">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Global Search" />
        </span>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th pSortableColumn="TemplateName">Template Name <p-sortIcon field="TemplateName"></p-sortIcon>
            </th>
            <th style="width: 5rem"></th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Id', 'contains')"
                    placeholder="Search Id" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'TemplateName', 'contains')"
                    placeholder="Search by Template Name" class="p-column-filter">
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-template>
        <tr class="p-selectable-row">
            <td>
                <span class="p-column-title"></span>
                {{template.Id}}
            </td>
            <td>
                <span class="p-column-title"></span>
                {{template.TemplateName}}
            </td>
            <td style="text-align: center">
                <button pButton type="button" class="p-button-primary" icon="pi pi-pencil"
                    onclick="populateForm(template);"></button>
            </td>
        </tr>
    </ng-template>
</p-table>


