<div class="cotainer-flude">
    <div class="jumbotron">
        <h4 class="text-center">Template</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12">
            <app-template-list></app-template-list>
        </div>
        <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12">
            <app-keyword-list></app-keyword-list>
        </div>
        <div class="col-md-12 col-xl-12 col-lg-12 col-sm-12">
            <app-keyword-element-list></app-keyword-element-list>
        </div>
    </div>
</div>